<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Spring MyBatis ExtJS CRUD App</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.sencha.com/ext/gpl/4.2.0/resources/css/ext-all.css"/>
    <script type="text/javascript" src="https://cdn.sencha.com/ext/gpl/4.2.0/ext-all.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>
<div id="output"></div>
</body>
</html>